$khaki: #B2AA8E;
$maastrichtBlue:#0C1B33;
$midnight: #7A306C;
$tiffanyBlue: #03B5AA;
$mindaro: #DBFE87;

//Grays
$gray-darker: #282828;
$gray-dark: #888888;
$gray: #B8B8B8;
$gray-light: #C8C8C8;
$gray-lighter: #E8E8E8;
//
$black: #080808;
$white: #ffffff;
