$white: #ffffff;


$spacing: 1rem;
$spacing-huge: $spacing * 4;
$spacing-large: $spacing * 2;
$spacing-small: $spacing / 2;
$spacing-tiny: $spacing / 4;

$global-radius: 5px;
$global-transition: all 300ms ease-in-out;
