.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: 0 $spacing;
  transition: $global-transition;
  border-radius: $global-radius;
  height: 2rem;
  line-height: 2rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: $black;
  background: $tiffanyBlue;
  border: none;
  text-decoration: none;
}
